<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Pigs Statistics</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/pig-icon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/favicon.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <a href="https://discord.com/oauth2/authorize?client_id=915117668451901461&permissions=67454992&scope=bot">Click Here to add Pigs Manager to your server!</a>

  <section id="input">

  </section>
  <section id="playerStats">
    
  </section>

  <div id="domoMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
    <img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  <script src="/assets/appBundle.js"></script>
</body>
</html>
